// font-family: 'Goldman', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rubik Mono One', sans-serif;

$navHeader: 1.5rem;
$commonFontFamily: 'Poppins',sans-serif;
$contactFontFamily: 'Goldman',cursive;
$boldFont:'Rubik Mono One',sans-serif;
$display-1: 5rem;
$display-6:3rem;
$display-1-size: 4.5rem;
$display-6-size: 2.5rem;
$textColor: #fff;



@mixin bg($position-X, $position-Y, $size) {
    
    background-image: url('../assets/me2.png');
    background-repeat: no-repeat;
    //background-position: 95% 50%;
    //background-size: 45rem;
    background-position: $position-X $position-Y;
    background-size: $size;
    background-color: #000;
    //filter: drop-shadow(0 -6px 4px rgb(160, 0, 210));
    overflow: hidden;
}

 @mixin hr($widthY) {
    margin-top: 1rem;
    width: $widthY;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    filter: drop-shadow(1px 1px 15px #56cbf2);
    mix-blend-mode: soft-light;  
    
}




body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: $commonFontFamily;
    color: $textColor;
    //text-shadow: 2px 2px 5px #56cbf2;
    overflow: hidden;
}

.daimond{
    position: absolute;
    top: 0;
    opacity: 0.8;
    height: 50rem;
    width: 50rem;
    border: 10px solid #ffffff;
    //border-bottom: 10px solid #ffffff;
    transform: rotate(45deg);
    filter: drop-shadow(1px 1px 15px #56cbf2);
    mix-blend-mode: soft-light;  
}
.d1{
    left: 40%
}
.d2{
    left: 50%;
}
.d3{
    left: 30%;
}

header {
    @include bg(95%, 100%, 45rem);
    position: relative;
    height: 100vh;
    //max-height: 750px;


    nav {
        padding: 1% 5%;
        //background-color: #1a1a1a;

        .nav-name {
            font-size: $navHeader;
            font-family: $boldFont;
        }
    }

    .container {
        display: flex;
        padding: 1% 5%;


        //border: 2px solid #aaa;

        .line-section {
            //border: 2px solid #aaa;
            position: relative;
            margin-right: 5%;
            
            .line {
                width: 0.5px;
                height: 70%;
                background-color: #ffffff;
                margin: 1rem auto;

            }

            #year {
                writing-mode: vertical-rl;
                text-orientation: upright;
                margin: 0.5rem auto;
            }

            &::after {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #fff;
                border-radius: 50%;
                left: 0;
                bottom: auto;
                box-shadow: 1px 1px 50px #56cbf2;
            }

        }

        .header-text {
            //margin-right: 40%;
            padding: 2rem;

            //border: 2px solid #313131;
            .display-6 {
                font-size: $display-6;
                margin-bottom: 0;
            }

            .display-1 {
                font-size: $display-1;
                margin-top: 0;
                //text-shadow: 2px 2px 100px #56cbf2;
                animation: blink 4s linear infinite;
            }
            p{
                font-size: 1.5rem;
                color: #cccccc;
            }
            // .hr-1 {
            //     @include hr(auto)
            // }

            // .hr-2 {
            //     @include hr(60%)
            // }

            // .hr-3 {
            //     @include hr(40%)
            // }
        }
    }

    .foot {
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
      
        //margin-top: 2%;
        //border: 0.5px solid #aaa;
        //background-color: #1a1a1a;

        .contact {
            //border: 0.5px solid #aaa;
            
            .lead {
                font-family: $commonFontFamily;
                font-size: 1rem;
                margin-top: 4rem;
                margin-bottom: auto;
                
            }
        }

        .contact-div {
            width: auto;
            //border: 2px solid #aaa;

            .contact-me {
                font-family: $boldFont;
                //margin-top: 0;
                font-size: 1.2em;
                text-align: center;
            }

            .icon-tray {
                display: flex;
                justify-content: center;
                align-items: center;

                .hr-3 {
                    margin: auto;
                    width: 5rem;
                    height: 5px;
                    background-color: #fff;
                    border-radius: 1rem;
                }

                .button {
                    margin: 0 4%;
                    padding: 0.5rem 2.5rem;
                    border: 2px solid #ffffff;
                    border-radius: 2rem;
                    //background-color: #9191919d;
                    filter: drop-shadow(1px 1px 5px #56cbf2);
                    //box-shadow: 1px 1px 150px #56cbf2;
                    //background-image: linear-gradient(to right, #56cbf2 0%, #2f81ed 100%);
                    text-decoration: none;
                    z-index: 1;

                    .a-tag {
                        
                        color: $textColor;
                    }
                }

                .button:hover {
                    transition: 0.5s all ease-in-out;
                    box-shadow: 10px -10px 200px #56cbf2;
                    transform: scale(1.05);
                }

                .button:active {
                    transition: 0.5s all ease-in-out;
                    transform: scale(0.8);
                }

            }
        }
    }
}


@keyframes blink {
    0% {
        text-shadow: 2px 2px 100px #56cbf2;
    }

    50% {
        text-shadow: 2px 2px 200px #56cbf2;
    }

    100% {
        text-shadow: 2px 2px 100px #56cbf2;
    }
}


@media screen and (max-width: 1260px) {

    header {
        @include bg(100%, 100%, 70%);

        .container {
            padding: 4% 5%;

            .header-text {
                //border: 2px solid #aaa;
                padding: auto;

                .display-6 {
                    font-size: $display-6-size;
                }

                .display-1 {
                    font-size: $display-1-size;
                }

                .hr-1 {
                    @include hr(auto)
                }

                .hr-2 {
                    @include hr(50%)
                }

                .hr-3 {
                    @include hr(30%)
                }
            }
        }
    }

}

@media (max-width: 720px) {
    header {

        // @include bg(100%, 100%, 35rem);
        nav {
            padding: auto;
            //background-color: #1a1a1a;

            .nav-name {
                font-size: 1.2rem;
            }
        }

        .container {
            padding: 1% 5%;


            .header-text {
                padding: 10% 2% 20% 2%;

                //border: 2px solid #aaa;
                .display-6 {
                    font-size: 5vw;
                }

                .display-1 {
                    font-size: 10vw;
                }

                .hr-1 {
                    @include hr(auto)
                }

                .hr-2 {
                    @include hr(40%)
                }

                .hr-3 {
                    @include hr(20%)
                }
            }
        }

        .foot {
            flex-direction: column;

            //padding: 5%;
            //margin-top:2rem ;
            .contact {
                .lead {
                    text-align: center;
                    margin: auto;
                }
            }

            .contact-div {

                //margin-top: 2rem;
                .contact-me {
                    text-align: center;
                }
            }

        }
    }
}

@media (max-width: 480px) {

    .daimond{
        height: 30rem;
        width: 6rem;
        top: 2%;
       
    }
    .d1{
        left: 25%
    }
    .d2{
        left:35%;
    }
    .d3{
        left:15%;
    }

    header {
        @include bg(8rem, 100%, 35rem);
        //height: 100vh;
        overflow-y: auto;
        nav {
            padding: 4% 8%;
            //background-color: #1a1a1a;

            .nav-name {
                font-size: 1rem;
            }
        }

        .container {
            padding: 6% 8%;
            .line-section{
                
                .line{
                    height: 60%;
                    margin-top: auto;
                }
            }

            .header-text {
                padding: 15% 2%;
                p{
                    font-size: 1rem;
                }
            }
        }

        .foot {
            //margin-top: auto;
            
            padding:0 4% 4% 4%;
           // position: absolute;
            //bottom: 0;

            margin:auto;
            .contact {
                .lead {
                    font-size: 0.8rem;
                    padding-top: 5%;
                    text-align: center;
                    margin: 2rem auto auto auto;
                }
            }

            .contact-div {
                padding-top: 2%;
                .contact-me {
                    text-align: center;
                }
            }

        }
    }
}