body {
  margin: 0;
  padding: 0;
  background-color: #aaa;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

header {
  height: 100%;
  max-height: 720px;
  background-image: url("../assets/me2.png");
  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-size: 45rem;
  background-color: #000;
  position: relative;
}

header nav {
  padding: 1% 5%;
}

header nav .nav-name {
  font-size: 1.5rem;
  font-family: "Rubik Mono One", sans-serif;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 5%;
}

header .container .line-section {
  position: relative;
  margin-right: 5%;
}

header .container .line-section .line {
  width: 0.5px;
  height: 70%;
  background-color: #ffffff;
  margin: 1rem auto;
}

header .container .line-section #year {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0.5rem auto;
}

header .container .line-section::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  bottom: auto;
  -webkit-box-shadow: 1px 1px 50px #56cbf2;
          box-shadow: 1px 1px 50px #56cbf2;
}

header .container .header-text {
  padding: 2rem;
}

header .container .header-text .display-6 {
  font-size: 3rem;
  margin-bottom: 0;
}

header .container .header-text .display-1 {
  font-size: 5rem;
  margin-top: 0;
  text-shadow: 2px 2px 100px #56cbf2;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

header .container .header-text .hr-1 {
  margin-top: 1rem;
  width: auto;
  height: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

header .container .header-text .hr-2 {
  margin-top: 1rem;
  width: 60%;
  height: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

header .container .header-text .hr-3 {
  margin-top: 1rem;
  width: 40%;
  height: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

header .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 5%;
}

header .foot .contact .lead {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: auto;
}

header .foot .contact-div {
  width: auto;
}

header .foot .contact-div .contact-me {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

header .foot .contact-div .icon-tray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .foot .contact-div .icon-tray .hr-3 {
  margin: auto;
  width: 5rem;
  height: 5px;
  background-color: #fff;
  border-radius: 1rem;
}

header .foot .contact-div .icon-tray .button {
  margin: 0 4%;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: 1px 1px 150px #56cbf2;
          box-shadow: 1px 1px 150px #56cbf2;
  background-image: -webkit-gradient(linear, left top, right top, from(#56cbf2), to(#2f81ed));
  background-image: linear-gradient(to right, #56cbf2 0%, #2f81ed 100%);
}

header .foot .contact-div .icon-tray .button .a-tag {
  text-decoration: none;
  color: #fff;
}

header .foot .contact-div .icon-tray .button:hover {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-box-shadow: 10px -10px 200px #56cbf2;
          box-shadow: 10px -10px 200px #56cbf2;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header .foot .contact-div .icon-tray .button:active {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1260px) {
  header {
    height: 100%;
    max-height: 720px;
    background-image: url("../assets/me2.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 70%;
    background-color: #000;
  }
  header .container {
    padding: 4% 5%;
  }
  header .container .header-text {
    padding: auto;
  }
  header .container .header-text .display-6 {
    font-size: 2.5rem;
  }
  header .container .header-text .display-1 {
    font-size: 4.5rem;
  }
  header .container .header-text .hr-1 {
    margin-top: 1rem;
    width: auto;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  header .container .header-text .hr-2 {
    margin-top: 1rem;
    width: 50%;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  header .container .header-text .hr-3 {
    margin-top: 1rem;
    width: 30%;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
}

@media (max-width: 720px) {
  header nav {
    padding: auto;
  }
  header nav .nav-name {
    font-size: 1.2rem;
  }
  header .container {
    padding: 1% 5%;
  }
  header .container .header-text {
    padding: 10% 2% 20% 2%;
  }
  header .container .header-text .display-6 {
    font-size: 5vw;
  }
  header .container .header-text .display-1 {
    font-size: 10vw;
  }
  header .container .header-text .hr-1 {
    margin-top: 1rem;
    width: auto;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  header .container .header-text .hr-2 {
    margin-top: 1rem;
    width: 40%;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  header .container .header-text .hr-3 {
    margin-top: 1rem;
    width: 20%;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  header .foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .foot .contact .lead {
    text-align: center;
    margin: auto;
  }
  header .foot .contact-div .contact-me {
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    height: 100%;
    max-height: 720px;
    background-image: url("../assets/me2.png");
    background-repeat: no-repeat;
    background-position: 8rem 100%;
    background-size: 35rem;
    background-color: #000;
    height: 100vh;
  }
  header nav {
    padding: 4% 8%;
  }
  header nav .nav-name {
    font-size: 1rem;
  }
  header .container {
    padding: 6% 8%;
  }
  header .container .header-text {
    padding: 20% 2%;
  }
  header .foot {
    padding: 5%;
  }
  header .foot .contact .lead {
    font-size: 0.8rem;
    padding-top: 5%;
    text-align: center;
    margin: 2rem auto auto auto;
  }
  header .foot .contact-div .contact-me {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */